name: AV-mvc

on:
  pull_request:
    types: [closed]
  workflow_call:
  push:
    paths:
      - ".github/workflows/AV-mvc.yml"
      - "mvc/**"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout codes
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Build with Maven check1
        run: mvn clean install

      - name: Run tests
        run: mvn test

      - name: Bump versions mvc check1
        id: bump
        if: github.event_name == 'pull_request' && github.event.pull_request.merged == true && github.event.pull_request.base.ref == 'main'
        uses: ./.github/actions/semversion-calculation
        with:
          component: "mvc"
          versions-json: ${{ vars.JSON_VERSIONS }}

      - name: Push artifact to Artifactory (placeholder)
        run: |
          echo "Pushing artifact to Artifactory..." 
